:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), minmax(0, 1fr));
    grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
    max-width: 1000px;
    align-self: center;
}

.grid-item {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    border-radius: 9px;
    border-style: solid;
}
.btn {
    align-self: center;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 6px 36px;
    border-radius: 9px;
    background: #3882F6;
    border-style: solid;
    color: white;
    font-weight: bold;
    font-size: medium;
}
.cont {
    display:flex;
    justify-content: center;
    gap: 15px;
}
body {
    display:flex;
    flex-direction: column;
}